<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6 ielt7 ielt8 ielt9"><![endif]--><!--[if IE 7 ]><html lang="en" class="ie7 ielt8 ielt9"><![endif]--><!--[if IE 8 ]><html lang="en" class="ie8 ielt9"><![endif]--><!--[if IE 9 ]><html lang="en" class="ie9"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!--> 
<html lang="en"><!--<![endif]--> 
	<head>
		<meta charset="utf-8">
		<title>Login - Akira</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="../../static/employee/css/bootstrap.min.css" rel="stylesheet">
		<link href="../../static/employee/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="../../static/employee/css/site.css" rel="stylesheet">
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	</head>
	<body>
		<div id="login-page" class="container">
			<center><h1>员工登录</h1></center>
			<form id="login-form" class="well" method="post">
				<input type="text" name="work_id" class="span2" placeholder="工号" /><br />
				<input type="password" name="pwd" class="span2" placeholder="密码" /><br />
				<button type="submit" class="btn btn-primary">登录</button>
			</form>
		</div>
		<script src="../../static/employee/js/jquery.min.js"></script>
		<script src="../../static/employee/js/bootstrap.min.js"></script>
		<script src="../../static/employee/js/site.js"></script>
	</body>
</html>