{%  extends "myadmin/index.html"  %}

{%  block myadmin_index  %}
 <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">用户列表</div>


                            </div>
                            <div class="widget-body  am-fr">

                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                    <div class="am-form-group">
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <a href="{% url 'myadmin_addgoods' %}"><button type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="am-u-sm-12">
                                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                        <thead>
                                            <tr>
<!--                                                <th>序号</th>-->
<!--                                                <th>用户名</th>-->
<!--                                                <th>状态</th>-->
<!--                                                <th>手机号</th>-->
<!--                                                <th>性别</th>-->
<!--                                                <th>年龄</th>-->
<!--&lt;!&ndash;                                                <th>状态</th>&ndash;&gt;-->
<!--                                                <th>添加时间</th>-->
<!--                                                <th>头像</th>-->
<!--                                                <th>操作</th>-->
                                            </tr>
                                        </thead>
                                        {% for i in goods %}
                                        <tr class="even gradeX">
                                            <td>{{ i.id }}</td>
                                            <td><img src="{{ i.g_url }}" width=50 alt=""></td>
                                            <td>
                                                {{i.title}}
                                            </td>
<!--                                            <td>{{ i.ginfo | safe }}</td>-->
                                            <td>{{ i.price }}</td>
                                            <td>{{ i.ordernum }}</td>
                                            <td>{{i.cateid.name}}</td>
                                            <td>{{i.addtime}}</td>
                                            <td>
                                                <div class="tp1-table-black-operation">
                                                    <a href="{% url 'myadmin_goodsedit' %}?id={{i.id}}">
                                                        <i class="am-icon-pencil"></i>编辑
                                                    </a>
                                                    <a href="{% url 'myadmin_goodsdelete' %}?id={{i.id}}" class="tp1-table-black-operation-del">
                                                        <i class="am-icon-trash"></i>删除
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    <script type="text/javascript">
                                        $('.changepwd').click(function(){
                                            var uid=$(this).attr('uid')
                                            $.get('{% url 'myadmin_changepwd' %}',{uid:uid},function(data){
                                                alert(data.msg)
                                            },'json')
                                        })
                                        $('.changes').change(function(){
                                            var uid = $(this).attr('uid')
                                            var val = $(this).val()
                                            $.get('{% url 'myadmin_changes' %}',{uid:uid,status:val},function(data){
                                                alert(data.msg)},'json')
                                        })
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%  endblock  %}

